In [1]:
import re

In [2]:
chat1 =  'customer - i had given my phone no 1234567890 and email xxx@xxx.com '
chat2 =  'customer-  here it is (123)-4567-890, and email xx1@gmail.com'
chat3 =  'customer- i have an phone 0987654321 and email def@g42l.com '
chat4 =  'customer-  here it is (567)-4164-098, and email abc@GMAIL.com'
text =chat1+chat2+chat3+chat4 
text

'customer - i had given my phone no 1234567890 and email xxx@xxx.com customer-  here it is (123)-4567-890, and email xx1@gmail.comcustomer- i have an phone 0987654321 and email def@g42l.com customer-  here it is (567)-4164-098, and email abc@GMAIL.com'

In [3]:
# fetch continuous 10 digit no. pattern 
pattern1 = '\d{10}'
a1 = re.findall(pattern1 , chat1)
a2 = re.findall(pattern1 , chat2)
a3 = re.findall(pattern1 , chat3)
a4 = re.findall(pattern1 , chat4)
a1 , a2 , a3 , a4

(['1234567890'], [], ['0987654321'], [])

In [4]:
# fetch continuous 10 digit no. pattern 
pattern2 = '\(\d{3}\)-\d{4}-\d{3}'
a1 = re.findall(pattern2 , chat1)
a2 = re.findall(pattern2 , chat2)
a3 = re.findall(pattern2 , chat3)
a4 = re.findall(pattern2 , chat4)
a1 , a2 , a3 , a4

([], ['(123)-4567-890'], [], ['(567)-4164-098'])

In [5]:
# fetch continuous 10 digit no. pattern 
pattern = pattern1 +'|' + pattern2
phone_no = re.findall(pattern , text)
phone_no

['1234567890', '(123)-4567-890', '0987654321', '(567)-4164-098']

In [6]:
# find  email
pattern_email = '[a-z0-9A-Z_]*@[a-zA-Z]*\.com'
emails = re.findall(pattern_email , text)
emails

['xxx@xxx.com', 'xx1@gmail.com', 'abc@GMAIL.com']

In [12]:
chat1 =  'customer - paid price 7896rs and issue with my order - 56735672 '
chat2 =  'customer-  order price 678$ not get with id #3426756'
chat3 =  'customer- my order is not get : order-44444444444 and price1111rs '
chat4 =  'customer-  issue with order:549038923'
text =chat1 + chat2+chat3+chat4 
text

'customer - paid price 7896rs and issue with my order - 56735672 customer-  order price 678$ not get with id #3426756customer- my order is not get : order-44444444444 and price1111rs customer-  issue with order:549038923'

In [11]:
order_id_pattern = r"order[^\d]*(\d*)"
order_id_1 = re.findall(order_id_pattern , chat1)
order_id_2 = re.findall(order_id_pattern , chat2)
order_id_3 = re.findall(order_id_pattern , chat3)
order_id_4 = re.findall(order_id_pattern , chat4)
order_id_1 , order_id_2 , order_id_3 ,order_id_4

(['56735672'], ['3426756'], ['44444444444'], ['549038923'])

In [13]:
price_pattern = r"price[^\d]*(\d*)"
price_1 = re.findall(price_pattern , chat1)
price_2 = re.findall(price_pattern , chat2)
price_3 = re.findall(price_pattern , chat3)
price_4 = re.findall(price_pattern , chat4)
price_1 , price_2 , price_3 ,price_4

(['7896'], ['678'], ['1111'], [])

# Extract info

In [14]:
text = '''   
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 66)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation(s)	Chairman and MD, Reliance Industries
Spouse	Nita Ambani ​(m. 1985)​[3]
Children	3
Parents	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)

'''

In [15]:
age_p = r"age (\d+)"
age = re.findall(age_p , text)

age

['66']

In [17]:
born_p = r"Born(.*)"
re.findall(born_p , text)[0].strip()

'Mukesh Dhirubhai Ambani'

In [18]:
birth = r"Born.*\n(.*)\(age"
re.findall(birth , text)[0].strip()

'19 April 1957'

In [19]:
address = r"\(age.*\n(.*)"
re.findall(address , text)[0].strip()

'Aden, Colony of Aden'

In [20]:
def get_info(pattern , text):
    return re.findall(pattern , text)[0].strip()

In [23]:
def get_extract_info(text):
    age_p = r"age (\d+)"
    address_p = r"\(age.*\n(.*)"
    birth_p = r"Born.*\n(.*)\(age"
    parent_p = r"Born(.*)"
    nationlity = r"Nationality(.*)"
    
    return {
        'age' : get_info(age_p , text),
        'parent' : get_info(parent_p , text),
        'address' : get_info(address_p , text),
        'birth_p' : get_info(birth_p , text),
        'Nationality' : get_info(nationlity , text)
    }

In [24]:
get_extract_info(text)

{'age': '66',
 'parent': 'Mukesh Dhirubhai Ambani',
 'address': 'Aden, Colony of Aden',
 'birth_p': '19 April 1957',
 'Nationality': 'Indian'}